<div *ngIf="event && !postsState" class="profile-page">
  <!-- <div
    class="page-header header-filter"
    data-parallax="true"
    style="background-image:url('https://previews.123rf.com/images/cristinabagiuiani/cristinabagiuiani1504/cristinabagiuiani150400017/39349451-map-location-app-design-illustration-.jpg');"
  ></div> -->

  <app-maps [changeable]="false" [lat]="event.location.coordinates[0]" [lng]="event.location.coordinates[1]"></app-maps >
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container" style="height: fit-content;">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img
                  src="{{ event.file }}"
                  alt="Circle Image"
                  class="img-raised rounded-circle img-fluid"
                />
              </div>
              <div class="name">
                <h3 class="title my-1">{{ event.title }}</h3>
                <!-- <h6>Community</h6> -->
                <!-- <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"
                  ><i class="fa fa-dribbble"></i
                ></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a
                  href="#pablo"
                  class="btn btn-just-icon btn-link btn-pinterest"
                  ><i class="fa fa-pinterest"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
        <div style="height: fit-content;" class="description text-center">
          <p>
            Description
          </p>
          <h5>
            {{ event.description }}
          </h5>
          <div class="d-flex justify-content-around py-4">
            <!-- // Like Icon -->
            <div>
              <i
                style="font-size:24px;"
                class="fa clickable"
                > <span style="font-size: 16px;">
                  <!-- {{post.likesCount}} -->
                </span>
                <span class="mx-4">{{event.likesCount}}</span>
                <span
                [ngStyle]="{ color: event.isLiked ? 'teal' : 'grey' }"
                (click)="like(event)"
                
                >&#xf087;</span
                  >
                
                
                </i
                >
              </div>

              <!-- // dislike  -->
              <div>
                <i
                  style="font-size:24px;"
                  class="fa clickable"
                  > <span style="font-size: 16px;">
                    <!-- {{post.likesCount}} -->
                  </span>
                  <span class="mx-4">{{event.dislikesCount}}</span>
                  <span
                  [ngStyle]="{ color: event.isDisliked ? 'teal' : 'grey' }"
                  (click)="dislike(event)"
                  >&#xf088;</span
                    >
                  
                  
                  </i
                  >
                  <!-- [ngStyle]="{ color: post.isLiked ? 'teal' : 'grey' }" -->
                  <!-- (click)="like(post)" -->
                </div>
            <div>
              <i style="font-size:24px;color: gray;" class="fa"> <span style="font-size: 16px;">
                <!-- {{post.commentsCount}} -->
              </span>
              <span class="clickable" (click)="postsState = true"> 
                posts
              </span> 
              </i>
            </div>
            
                        <!-- // Comment Icon -->
     
            
       
          </div>
        </div>
        
        <!-- <div class="tab-content tab-space" *ngFor="let post of posts">
          <div class="tab-pane active text-center gallery" id="studio">
              
              <app-posts [posts]="posts"></app-posts>

          </div>
          
        
        </div> -->
      </div>
    </div>
  </div>

  
  
</div>
<div *ngIf="postsState" class="container">
  <div class="row">
    <img
    width="70"
    height="70"
    src="{{ event.file }}"
    alt="Circle Image"
    style="object-fit: cover;"
    class="img-raised rounded-circle img-fluid mx-4 my-2"
    >
    <div style="display: flex; flex-direction: column; justify-content: center;">
      <h3 style="vertical-align: middle;" class="title my-1">{{ event.title }}</h3>
      <p (click)="postsState = false" class="text-muted clickable">see details</p>
    </div>
    <div class="col"></div>
    <div style="display: flex; flex-direction: column; justify-content: center;">
      <i style="font-size:35px;" class="fa mx-4"> <span style="font-size: 16px;">
        <!-- {{post.commentsCount}} -->
      </span>
      <span class="clickable" data-toggle="modal" data-target="#addPostToEventModal"> 
        &#xf067;
    </span> 
      </i>

    </div>

  </div>
  <app-posts [posts]="posts"></app-posts>
  
</div>



  <!-- Add Post Modal -->
  <div class="modal fade" id="addPostToEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div  class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a post to the event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addPostToEventForm>

            <input class="form-control" placeholder="Write something..." type="text" ngModel name="content">
            <input class="my-2" type="file" ngModel name="file">

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="addPost(addPostToEventForm)" type="button" data-dismiss="modal" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div >
  </div>

  <!-- Add Post Modal -->
