<div class="row justify-content-around">
  <div
    *ngFor="let event of events"
    class="card col-5"
    style="margin: 20px;"
  >
      <img height="200px" width="100%" src="{{ event.file }}" class="card-img-top" alt="Event Image" style="object-fit: contain;" />
      <div class="card-body">
        <!-- <em style="float:right"
        [ngStyle]="{'color': (event.likesCount | number) > (event.dislikesCount | number)? 'blue' : (event.likesCount | number) == (event.dislikesCount | number)?'grey' : 'red' }"
        >Diff: {{(event.likesCount | number) < (event.dislikesCount | number)?
         (event.dislikesCount | number) - (event.likesCount | number):
          (event.likesCount | number) - (event.dislikesCount | number)}}</em> -->
        <a routerLink="/events/{{ event._id }}"><h5 class="card-title">{{ event.title }}</h5></a>
        <p class="card-text text-muted">
          {{ event.description }}
        </p>
        <div style="display: flex;">
          <button *ngIf="!event.isEnrolled" (click)="enroll(event)" class="btn btn-outline-primary"> Go </button>
          <a (mouseenter)="hover = event._id" (mouseleave)="hover = null" *ngIf="event.isEnrolled" class="btn btn-primary" (click)="enroll(event)" [ngClass]="{'btn-danger': hover == event._id}"  style="color: white"> {{hover == event._id? 'Leave' : 'Going'}} </a>
          <div style="display: flex; flex-direction: column; justify-content: center;">
            <p class="mx-2 my-0">{{event.enrollsCount}} <i class="fa fa-users"></i></p>
          </div>
        </div>
      </div>
  </div>

</div>

<!-- (click)="clicked($event)" -->
