


.notification {
    text-decoration: none;
    position: relative;
    display: inline-block;
}



.notification .badge {
  position: absolute;
  top: -8px;
  right: -6px;
  padding: 3px 5px;
  border-radius: 50%;
  background: #18BC9C;
  color: white;
}

.notification-Icon:hover {
  color: #18BC9C;
}
.dropdown-menu{
    margin: 0;
    padding: 0;
}