<div class="container">
  <div class="main">
    <div class="main__header">
      <h2>Your Settings</h2>
    </div>
    <div class="main__content">
      <div class="main__avatar">
        <div class="main__avatar--overlay">
          John Doe
        </div>
      </div>
      <div class="main__settings-form">
        <form #settingForm="ngForm" (ngSubmit)="updated(settingForm)">
          <label class="main__input-label">Your name:</label>
          <input
            ngModel
            name="firstname"
            class="main__input"
            placeholder="John Doe"
            type="text"
          />
          <label class="main__input-label">Your e-mail:</label>
          <input
            ngModel
            name="email"
            class="main__input"
            placeholder="johndoe@gmail.com"
            type="email"
          />
          <label class="main__input-label">new password</label>
          <input
            ngModel
            name="password"
            class="main__input"
            placeholder="johndoe@gmail.com"
            type="password"
          />
          <label class="main__input-label"> Biograpghy </label>
          <textarea ngModel name="bio" class="main__input" type="password">
          </textarea>
          <button type="submit" class="btn main__save-button">
            Save
          </button>
        </form>
        <button class="btn main__cancel-button">Cancel</button>
      </div>
    </div>
  </div>
</div>
